<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Calculator</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class='container'>
    <h2>Web Calculator</h2>
    <form action='/calculate' method='get'>
        <input type='text' name='expr' placeholder='Enter expression, e.g. 2+2*2' size='30'/>
        <button type='submit'>Calculate</button>
    </form>
    <p><a href="/" class="btn-secondary">Go back to Hello page</a></p>
</div>
</body>
</html>