<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Database Operations</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class='crud-container' style="width: 650px;">
    <h2 class="crud-title">Database Operations</h2>

    <div style="margin-top: 30px;">
        <a href="/operations/countries" class="btn-table-view">🌍 Countries Management</a>
        <a href="/operations/periods" class="btn-table-view">📅 Periods Management</a>
        <a href="/operations/weapons" class="btn-table-view">🔫 Weapons Management</a>
    </div>

    <div style="margin-top: 40px;">
        <a href="/database" class="btn-back">← Back to Database</a>
    </div>
</div>
</body>
</html>